/* * {box-sizing: border-box;} */
  
html, body {
    
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

nav {
    
    position: fixed; /* Makes the nav bar fixed at the top */
    top: 0; /* Position it at the top */
    left: 0;
    width: 100%; /* Make the nav bar span the full width of the screen */
    z-index: 1000; /* Ensures the nav bar is on top of other content */

    align-items: center;
    justify-content: space-between; /* Space between store name, nav links, and button */
    padding: 1%;
    background-color: #fff; /* Keep it the same color */
    /* margin-bottom: 20%; */
  
}

.nav-menu {
    list-style: none;
    display: flex;
    /* margin-right: 20%; */
    margin-left: 25%;
 
}

.nav-menu li {
    margin-right: 30px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    border: none;
    font-size: large;
    border-bottom: 2px solid transparent;
    transition: color 1.10s ease; 
}

.nav-menu a:hover {
    border-bottom: 2px solid #76cf11; /* Change border color on hover */
    color: #76cf11;
}


.store-name h1 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #333;
}

.contact-button {
    text-decoration: none;
    background-color: #fff;
    color: #333;
    border: solid 2px;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    transition: color 1.10s ease; 
}

.contact-button:hover {
    border: #76cf11 solid 2px;
    /* background-color: #333; */
    color: #76cf11;
    transition: color 1s ease; 
}


/* home section */

#home {
    background-image: url("../images/background-5.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  
    margin-top: 3%;
}

.home-content{
    position: relative;
    left: 10%;
    /* bottom: 20%; */
    min-height: 100vh; /* Adjust height to fit the viewport */
    padding-top: 60%;
    color: #fff;
   

}

.home-content h1  {
    font-size: 2.5rem;
}

.home-content p {
    font-size: 1.2rem;
    font-weight: bold;
   
}

.home-content button {
    background-color: none;
    border: solid #333 2px;
    padding: 15px 20px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    transition: color 1.10s ease; 
}

.home-content button:hover {
    border: #76cf11 solid 2px;
    color: #76cf11;
 
}

/* about section */

#about > h1{
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
    background-color: #cecfc7;
    height: 50px;
}

#about > div  > div p {
    font-size: 1.5rem;
    
}


#about > div  > div h1 {
    margin-top: 0%;
    
}

#about > div  > div {
    margin-right: 5%;
    margin-left: 5%;
}

.about-us > div a {
    /* display: inline-block; */
    /* padding: 10px 20px; */
    /* position: relative; */
    color: #333;
    text-decoration: none;
    border-bottom:solid #333 2px;
    font-size: 1.2em;
    

}


.about-us > div a:hover {
    border-bottom: none;
}

.about-us > div img {
   width: 100%;
}
/* 
product section */

.container1 {
    /* max-width: 1200px; */
    /* margin: auto; */
    padding: 20px;
}

.banner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(236, 236, 233, 0.9);
    color: #fff;
    width: 100vw;
    height: 50vh;
    /* position: relative; */
    /* padding: 50px; */
    /* margin: 0; */
    /* box-shadow: 0 0 15px rgba(173, 87, 87, 0.1); */
}

.banner1 .banner1-text {
    margin-left: 12%;
}


.banner1 .banner1-text h1 {
    font-size: 2.5rem;
    color: #333;
 
}



.banner1 .banner1-img img {
    max-width: 100%;
    height: 50vh;
}

.banner1 button {
    border: solid 2px #333;
    color: #333; /* Set text color to white */
    padding: 10px 20px; /* Add padding for better appearance */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 5px; /* Slightly round the corners */
    transition: color 1.10s ease; /* Add smooth hover effect */
    font-size: .9rem;
}

.banner1 button:hover {
    border: #76cf11 solid 2px;
    color: #76cf11;
}


/* second banner */




.banner2 {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: rgba(236, 236, 233, 0.9);
    color: #fff;
    width: 100vw;
    height: 50vh;
    /* position: relative; */
    /* padding: 50px; */
    /* margin: 0; */
    /* box-shadow: 0 0 15px rgba(173, 87, 87, 0.1); */
    margin-top: 5%;
}

.banner2 .banner1-text {
    margin-left: 12%;
}


.banner2 .banner1-text h1, p {
    font-size: 2.5rem;
    color: #333;
 
}

.banner1-text p {
    font-size: medium;
}

.banner2 .banner2-img img {
    max-width: 100%;
    height: 50vh;
    margin-left: 10%;
}

.banner2 button {
    border: solid 2px #333;
    color: #333; /* Set text color to white */
    padding: 10px 20px; /* Add padding for better appearance */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 5px; /* Slightly round the corners */
    transition: color 1.10s ease; /* Add smooth hover effect */
    font-size: .9rem;
}

.banner2 button:hover {
    border: #76cf11 solid 2px;
    color: #76cf11;
}


/* product grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns layout */
    gap: 20px;
    justify-content: center; /* Center the grid horizontally */
    align-content: center;
}

.product-item {
    padding: 10%;
    text-align: center;
    /* box-shadow: 50px 20px 15px rgba(0, 0, 0); */
    transition: transform 0.3s ease; /* Corrected transition */
}

.product-item:hover {
    transform: translateY(-10px);
}

.product-item img{
    max-width: 100%;
    height: 100%;
    margin-bottom: 20px;
    /* box-shadow: 0 0 15px rgba(173, 87, 87, 0.1); */
}

.product-item a {
    display: inline-flex; /* Align the text and arrow horizontally */
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: large;
    white-space: nowrap;
    /* font-size: 25px; */
    position: relative;
    
}

.product-item a:hover {
    /* border-bottom: solid 2px #76cf11; */
    color: #76cf11;
}

.gt-icon {
   
    font-size: 28px;  /* Adjust the size to whatever you prefer */
    transition: color 0.3s ease; 
    transition: transform 0.3s ease; 
    font-weight: bold;
    margin-left: 5px;  
    position: relative;   
    top: -5px;
   
}

.product-item a:hover .gt-icon {
    transform: translateX(5px);  /* Moves the arrow 5px to the right */
    /* padding: 5px; */
}


/* Container for the subscribe section */
.subscribe-section {
    display: block;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9); /* Black with 50% transparency */
    color: #fff; /* Text color */
    text-align: center; /* Center-align text */
    /* padding: 30px; */
    margin: 50px auto;
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
}

/* Title styling */
.subscribe-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Subtitle text */
.subscribe-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Form container */
.subscribe-form {
    /* display: flex; */
    height: 40px;
    margin: 2%;
    /* width: 600px; */
    /* gap: 10px; */
}

/* Input field styling */
.subscribe-form input {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    /* width: 100%; */
    /* max-width: 300px; */
    font-size: 16px;
    
}

.subscribe-section p {
    color: #fff;

}

/* Button styling */
.subscribe-form button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.9); 
    /* Button background */
    color: #fff;
    border: #fff solid 2px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: color .7s ease; 
}

.subscribe-form input:focus {
    outline: none;
}

/* Button hover effect */
.subscribe-form button:hover {
    color: #76cf11;
    border: #76cf11 solid 2px;
    outline: none

}


/* last-product section */

.last-product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto;
    gap: 20px;
    margin-right: 10%;
    margin-left: 10%;
}

.product-item2 {
    background-color: #fff;
   
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.product-item2 h3 {
    font-weight: bold;
}


.product-item2 img {
    max-width: 100px;
  
}

.product-item2 button {
   
    background-color: #333;
    color: #fff;
    padding: 5% 7%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    
}

.product-item2 button:hover {
    background-color: red;
}

.product-item2:hover {
    transform: translateY(-10px);
}

.product-item2.earphone {
    grid-column: span 2; /* spans 2 colums (50%)*/
    text-align: start;
 
}


.product-item2.grey span {
    color: #eee;
    font-size: xx-large;  
}

.product-item2.grey button {
    margin-bottom: 5%;
}

.product-item2.green img {
    max-width: 100%;
    height: 22vh;
    margin-bottom: 0%;

}

.product-item2.green {
    align-items: center; /* Align elements vertically within the flexbox */
   text-align: start; /* Align text to the start within the container */
   position: relative;
 }
 
 .product-item2.green h3{
   margin-left: 2%; /* Add some margin between elements for spacing */
   margin-top: 10%;
 }

  
 .product-item2.green span {
    color: #eee;
    font-size: xx-large;
    position: absolute;
    
 }

 .product-item2.green button {
   position: absolute;
   margin-top: 20%;
   margin-left: 2%;
 }

 .product-item2.blue h3{
    margin-right: 50%;
 }

 .product-item2.blue span {
    color: #eee;
    font-size: xx-large;
 }

 .product-item2.blue {
    position: relative;
 }

 .product-item2.blue img {
    position: relative;
    left: 19%;
    
 }

 .product-item2.blue button {
    margin-right: 50%;
    /* position: relative; */
 }

 .product-item2.red span {
    color: #eee;
    font-size: xx-large;
 }

 .product-item2.red1 {
    display: grid;
    grid-template-columns: 1fr 1fr ; /* Single column for smaller screens */
    text-align: center;
}

.product-item2.red1 span {
    font-size: xxx-large;
    color: #eee;
}

.product-item2.red1 button {
    margin-bottom: 10%;
}

.product-item2.red1 img {
    justify-self: center; /* Center the image */
    transform: translateX(0); /* Reset offset */
    grid-row: 1/2;
    max-width: 100%;
    margin-top: 15%;
}

.product-item2.red1 div {
    grid-row: 1/2;
}





/* footer section */

footer {
    display: flex;
    padding: 50px 3%;
    justify-content: space-between;
    background-color: #070707;
    margin-top: 10%;
    position: relative;
    
}



footer > div p {
    color: #fff;
    font-size: 1.2rem;
}

.icons {
    position: absolute;
    bottom: 10px;  /* Place the icons at the bottom */
    right: 3%;     /* Align the icons to the right */
}

.icons i {
    /* font-size: 180%;
    color: #fff; */
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons i:hover{
    opacity: 0.7;
  }

.contact-form {
    max-width: 500px;
    /* margin: 0 auto; */
    padding:  20px;
    /* border: 1px solid #fff; */
}

.contact-form h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 50px;
}

.contact-form p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #fff;
}



input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #070707;
    color: #fff;
    border: #fff solid 2px;
    cursor: pointer;
    margin-top: 13px;
    width: 100%;
    transition: color 0.3s ease;
}

input[type="submit"]:hover {

    color: #76cf11;
    border: #76cf11 solid 2px;
}

.contact-form input,textarea:focus {
    outline: none;
}

